<% include ./partials/header %>

<div class="ui container segment">
    
    <img class="ui centered rounded image" src="<%=blog.image%>">
    
    <p>Created on: <%=blog.created.toDateString()%></p>
    
    <div class="ui piled segment">
        <h2 class="ui header"><%=blog.title%></h2>
        <p><%-blog.body%></p>
    </div>
    
    <a class="ui orange basic button" href="/blogs/<%=blog._id%>/edit">Edit</a>
    
    <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
        <button  class="ui red basic button">Delete</button>
    </form>
    
</div>


<% include ./partials/footer %>

